#h-showbutton, 
#h-container {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 10000;
    opacity: 0.95;
}

#h-showbutton {
    top: 0;
    right: 40px;
    width: 64px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #A7C942;
    cursor: pointer;
}

#h-container {
    top: 25px;
    right: 40px;
    pointer-events: none;
}

#timesheet1,
#timesheet2 {
    float: right;
    font-size: 1.2em;
    border-collapse: collapse;
    table-layout: fixed;
}

#h-container td,
#h-container th {
    padding: 3px 4px 3px 4px;
    font-size: 0.7em;
    text-align: center;
    width: 48px;
    /* td */
    height: 37px;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    color: #222;
    background-color: rgba(234,242,211, 0.8);
    border: 1px solid #98bf21;
}

#h-container th {
    width: 37px;
    height: 30px;
    color: #fff;
    background-color: #A7C942;
}

#h-container .selected {
    background-color: rgba(0,255,255, 0.5);
}

#h-container .conflict {
    background-color: rgba(245,100,100, 0.8);
}
